# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Vue
.DS_Store
node_modules
/dist
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Docker
data/
logs/
clickhouse_data/
env/docker-compose.test.yml
env/clickhouse-users/
env/clickhouse-users/*
redis_data/